main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 80vw;
    padding: 30px 0;
}

/* User Post */

.user {
    display: flex;
    gap: 5px;
}

.user_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    padding: 0 0 10px 0;
}

.user_info > p:first-child {
    cursor: pointer;
    font-family: "Avenir_Black";
    font-size: 26px;
}

.user_info > p:last-child {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.user_image {
    cursor: pointer;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-image: url(../../images/main/photo-de-profile.jpg);
    background-position: center 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.user_info_separator {
    width: 240px;
    border: 3px solid black;
    border-radius: 10px;
}


/* Article Info */

.article_title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/main/A2Roue.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80vw;
    height: 801px;
}

.article_title > h1 {
    width: 73%;
    text-align: center;
    color: white;
    font-family: "Avenir_Black";
    font-size: 115px;
}

.article_pre_content {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.article_pre_content > h2 {
    font-family: "Avenir_Heavy";
    font-size: 40px;
}

.article_pre_content > p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
}

.article_content > p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

main > img {
    max-height: 750px;
    object-fit: contain;
}

.like_share {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35.3px;
    width: 80vw;
}

.like_share > form, .like_share > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.like_share > div > i {
    cursor: pointer;
}

.like_share > form:first-child > input {
    background: url("../../images/main/Like-PNG-Images-HD.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
}


/* Font Family */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@font-face {
    font-family: "Avenir_Black";
    src: url(../main/Font/Avenir-Black.ttf);
}

@font-face {
    font-family: "Avenir_Heavy";
    src: url(../main/Font/Avenir-Heavy.ttf);
}