body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0;
    width: 80vw;
}

.header_left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header_left > a > img {
    width: 194px;
}

.header_left > a {
    cursor: pointer;
}

.header_left > nav > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Avenir_Light";
}

.header_right {
    display: flex;
    gap: 54px;
    position: relative;
}

.header_right > input {
    height: 31px;
    width: 252px;
    font-family: "Avenir_Light";
    font-size: 25px;
    border: none;
    border-bottom: 1px solid black;
}

.header_right > i {
    position: absolute;
    left: 230px;
    top: 15px;
}

.header_right_actions {
    display: flex;
    gap: 15px;
    align-items: center;
}

#add_post {
    width: 34px;
    height: 34px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#add_post > i {
    margin-bottom: 10px;
}

#heart {
    height: 34px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#private_message {
    height: 34px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url(../../images/main/photo-de-profile.jpg);
    background-position: center -10px;
    background-size: 60px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.user_panel {
    display: none;
    flex-direction: column;
    gap: 22px;
    background-color: rgb(244, 244, 244);
    position: absolute;
    top: 110px;
    right: 135px;
    padding: 20px 40px;
    z-index: 100;
    border-radius: 15px;
}

.user_panel::before {
    position: absolute;
    top: -36px;
    right: 44px;
    content: "";
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 21px solid transparent;
    border-bottom : 36px solid rgb(244, 244, 244);
    border-left : 21px solid transparent;
    z-index: 100;
}

.user_panel > div {
    display: flex;
    gap: 10px;
}

.user_panel > div > a {
    color: black;
    text-decoration: none;
}

.user_panel > div:last-child {
    color: red;
}

.user_panel > div:last-child > a {
    color: red;
    text-decoration: none;
}

/* Footer */

footer {
    width: 100%;
}

.footer_top {
    height: 353px;
    background-color: #8CA285;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 63.1px;
}

.footer_top_media {
    display: flex;
    flex-direction: column;
    gap: 51px;
}

.footer_top_media > img {
    height: 88px;
}

.footer_top_media > div > img {
    height: 54px;
}

.footer_top_media_social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.footer_top_link {
    display: flex;
    gap: 26.6px;
}

.footer_top_link_block {
    display: flex;
    flex-direction: column;
    gap: 61px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.footer_top_link_block:first-child {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.footer_top_link_block > a {
    color: white;
    text-decoration: none;
}

.footer_top_link_separator {
    height: 269px;
    width: 0px;
    border: 1px solid white;
}

.footer_top_info {
    display: flex;
    flex-direction: column;
    gap: 56px;
    color: white;
    font-size: 22px;
}

.footer_top_info > div > p {
    font-family: "SF_pro_light";
}

.footer_top_info > p {
    font-family: "SF_pro_semiBold";
}

.footer_top_info > div {
    display: flex;
    gap: 18.5px;
}

.footer_top_info > div > i {
    color: black;
    height: 21px;
}

.footer_top_info_langue {
    width: 380px;
    height: 40px;
    border: 1px solid white;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 7px;
}

.footer_top_info_langue > p {
    font-family: "SF_pro_light";
    font-size: 20px;
}

.footer_top_info_langue > select {
    width: 255px;
    color: white;
    background: transparent;
    border: 0;
    font-family: "SF_pro_medium";
    font-size: 22px;
}

.footer_top_info_langue_separator {
    height: 39px;
    border: 1px solid white;
}

.footer_bottom {

    background-color: #013B0C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

/* Font Family */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@font-face {
    font-family: "Avenir_Light";
    src: url(../main/Font/Avenir-Light.ttf);
}