html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.background_image {
    position: relative;
    height: 100%;
    background-image: url(../../images/ConnexionPage/image-fond-page-connexion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background_image::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(13px);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    margin-bottom: 52.9px;
}

.connexion_block {
    z-index: 2;
    text-align: center;
    width: 451px;
    height: 495px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input[type=text], input[type=password] {
    width: 367px;
    height: 47px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    padding: 0 10px;
    font-family: 'Avenir_Light';
    font-size: 16px;
}

.hide_show_password {
    background-image: url(../../images/ConnexionPage/hide.png);
    background-size: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    right: 16px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connexion_block_input {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: relative;
}

.connexion_block a {
    font-family: 'Avenir_Light';
    font-size: 12px;
    color: white;
    margin: 13px 0 0 0;
}

.connexion_block p {
    margin: 0 0 9px 0;
    font-family: 'Avenir_Medium';
    font-size: 12px;
    color: white;
}

.connexion_block_memory_me > p {
    font-family: 'Avenir_Light';
    font-size: 15px;
    margin: 15px 0 15px 13px;
}

.connexion_block_memory_me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 40px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.login_checkbox {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, -50%);
    height: 19px;
    width: 18px;
    background-color: transparent;
    border: solid white 1px;
    border-radius: 4px;
}

.container input:checked + .login_checkbox {
	border: solid 1px green;
}

.login_checkbox:after {
    content: "\2713";
    left: 2px;
    top: -3px;
    font-size: 21px;
    position: absolute;
    display: none;
}

.container input:checked + .login_checkbox:after{
    display: block;
}

.container input:checked + .login_checkbox:after {
    color: green;
}

.connexion_block_separation {
    width: 360px;
    border: solid 2px #707070;
    margin: 18.5px 0 15px 0;
}

button {
    cursor: pointer;
}

.connexion_block button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 367px;
    height: 40px;
    padding-left: 17%;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'Avenir_Medium';
    font-size: 16px;
}

button:first-child {
    background-color: #D64D3B;
}

button:last-child {
    background-color: black;
}

.connexion_block_buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input[type=submit] {
    width: 237px;
    height: 46px;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-family: "Avenir_Heavy";
    font-size: 19px;
    margin-top: 21px;
    cursor: pointer;
}

.register_block {
    z-index: 2;
    text-align: center;
    width: 451px;
    height: 146px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;   
}

.register_block p{
    margin: 0;
    font-family: 'Avenir_Light';
    font-size: 18px;
    color: white;
}

.register_block button {
    width: 237px;
    height: 46px;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: 'Avenir_Heavy';
    font-size: 19px;
}


/* Font Family */

@font-face {
    font-family: "Avenir_Light";
    src: url("../Metropolis/Metropolis-Light.otf");
}

@font-face {
    font-family: "Avenir_Medium";
    src: url("../Metropolis/Metropolis-Medium.otf");
}

@font-face {
    font-family: "Avenir_Heavy";
    src: url("../Metropolis/Metropolis-SemiBold.otf");
}