/* Heading User */

.container_profil {
    width: 100vw;
    height: 367px;
    background-image: url(../../images/main/image-fond-ville.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.container_profil_info {
    display: flex;
    align-items: center;
    gap: 28.8px;
    padding: 274px 0 0 268px;
    backdrop-filter: blur(10px);
}

.container_profil_info_image {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-image: url(/assets/images/main/photo-de-profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -10px;
}

.container_profil_info_perso {
    display: flex;
    flex-direction: column;
    gap: 36.2px;
}

.container_profil_info_perso > h1 {
    font-family: 'Avenir_Black';
    font-size: 60px;
}

.container_profil_info_perso > div {
    display: flex;
    gap: 28px;
    font-family: 'Lato', sans-serif;
}

.container_profil_info_perso > div > div > h2 {
    font-size: 40px;
    font-weight: 400;
}

.container_profil_info_perso > div > div > p {
    font-size: 17px;
    font-weight: 700;
}

.container_profil_info_perso > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 146px;
    height: 109px;
    background-color: #C9C9C9;
}

.test {
    background-image: url(../../images/main/vlad-busuioc-xyPxcqh8Tt8-unsplash.jpg);
    background-position: center;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 80%;
    padding: 243px 0 50px 0;
}

main > .article_filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

main > .article_filter > p {
    font-size: 22px;
    font-family: "Avenir_Medium";
}

main > .article_filter > i {
    cursor: pointer;
}

.list_articles {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.block_article {
    cursor: pointer;
    height: 445px;
    width: 445px;
    border-radius: 20px;
    background-color: #EDEDED;
    overflow: hidden;
}

.block_article_title_background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 157px;
}

.block_article_title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 4px 6px;
    border-radius: 10px;
    font-size: 30px;
    font-family: "Avenir_Light";
}

.block_article_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 38px;
}

.block_article_info > h2 {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.block_article_info > p {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.block_article_info_separator {
    width: 321px;
    border: 1px solid black;
}

.block_article_info_views {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    width: 240px;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.fa-2xs {
    line-height: 1;
}

.first_article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 221px;
}

.first_article > h2 {
    font-size: 50px;
}

.first_article > h2 > a {
    text-decoration: none;
    color: black;
}


/* Font family */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@font-face {
    font-family: "Avenir_Black";
    src: url(../main/Font/Avenir-Black.ttf);
}

@font-face {
    font-family: "Avenir_Medium";
    src: url(../main/Font/Avenir-Medium.ttf);
}

@font-face {
    font-family: "Avenir_Light";
    src: url(../main/Font/Avenir-Light.ttf);
}