.heading {
    width: 100vw;
    height: 381px;
    background-image: url(../../images/main/pexels-monstera-5957128.jpg);
    background-position: center -350px;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading > h1 {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    color: white;
    font-size: 90px;
    background-color: rgba(0, 0, 0, 0.6)
}


/* Main */

main {
    display: flex;
    flex-direction: column;
    padding: 56px 0;
}

#title_sub {
    font-size: 40px;
    font-family: "Avenir_Heavy";
    padding: 0 0 10px 70px;
}

.list_sub {
    display: flex;
    justify-content: center;
    gap: 58px;
}

#Sub1, #Sub2, #Sub3 {
    display: none;
}

#Sub1_label, #Sub2_label, #Sub3_label {
    display: flex;
    width: 40px;
    height: 40px;
    border: 3px solid #8CA285;
    border-radius: 50%;
    cursor: pointer;
}

#Sub1:checked + #Sub1_label, #Sub2:checked + #Sub2_label, #Sub3:checked + #Sub3_label {
    background-color: #8CA285;
}

.Sub1_block, .Sub2_block, .Sub3_block {
    width: 485px;
    border: 1px solid #8CA285;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
}

.Sub1_block > h2, .Sub2_block > h2, .Sub3_block > h2 {
    display: flex;
    justify-content: center;
    padding: 31px 0 0 0;
    font-size: 40px;
    font-family: "Avenir_Heavy";
    color: #8CA285;
}

.Sub1_block > div, .Sub2_block > div, .Sub3_block > div {
    padding: 103px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Sub1_block > div > li, .Sub2_block > div > li, .Sub3_block > div > li {
    list-style-type: none;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

.Sub1_block > div > li::before, .Sub2_block > div > li::before, .Sub3_block > div > li::before {
    content: "\2022";
    color: #8CA285;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    width: 1em;
}

.Sub1_block > h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Avenir_Heavy';
    color: #8CA285;
    padding: 126px 0 0 0;
}

.Sub2_block > h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Avenir_Heavy';
    color: #8CA285;
    padding: 66px 0 0 0;
}

.Sub3_block > h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Avenir_Heavy';
    color: #8CA285;
    padding: 46px 0 0 0;
}

.Sub1_block > p, .Sub2_block > p, .Sub3_block > p {
    text-align: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding: 26px 0 0 0;
}

#title_assoc {
    font-size: 40px;
    font-family: 'Avenir_Heavy';
    padding: 88px 0 0 70px;
}

main > p {
    padding: 2px 0 10px 70px;
    font-size: 20px;
    font-family: "Avenir_Heavy";
}

.list_assoc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 11px;
    padding: 0 0 54px 0;
}

.block_assoc1, .block_assoc2, .block_assoc3, .block_assoc4, .block_assoc5, .block_assoc6, .block_assoc7, .block_assoc8 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 396px;
    height: 237px;
    border: 1px solid #8CA285;
    border-radius: 20px;
    cursor: pointer;
}

.list_assoc > label > input {
    display: none;
}

.list_assoc > label > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 3px solid #8CA285;
    border-radius: 50%;
    margin: 10px 0 0 10px;
    cursor: pointer;
}

#Assoc1:checked + #Assoc1_label, #Assoc2:checked + #Assoc2_label, #Assoc3:checked + #Assoc3_label, #Assoc4:checked + #Assoc4_label, #Assoc5:checked + #Assoc5_label, #Assoc6:checked + #Assoc6_label, #Assoc7:checked + #Assoc7_label, #Assoc8:checked + #Assoc8_label  {
    background-color: #8CA285;
}

.block_assoc1:first-child > img {
    width: 306px;
    align-self: center;
}

.block_assoc2:nth-child(2) > img {
    width: 257px;
    align-self: center;
}

.block_assoc3:nth-child(3) > img {
    width: 218px;
    align-self: center;
}

.block_assoc4:nth-child(4) > img {
    width: 206px;
    align-self: center;
}

.block_assoc5:nth-child(5) > img {
    width: 141px;
    align-self: center;
}

.block_assoc6:nth-child(6) > img {
    width: 225px;
    align-self: center;
}

.block_assoc7:nth-child(7) > img {
    width: 288px;
    align-self: center;
}

.block_assoc8:nth-child(8) > img {
    width: 197px;
    align-self: center;
}

main > button {
    color: #8CA285;
    background-color: white;
    border: 1px solid #8CA285;
    border-radius: 20px;
    width: 356px;
    height: 83px;
    align-self: center;
    font-size: 40px;
    font-family: "Avenir_Heavy";
    cursor: pointer;
}

/* Font Family */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@font-face {
    font-family: "Avenir_Heavy";
    src: url(../main/Font/Avenir-Heavy.ttf);
}