.heading {
    width: 100vw;
    height: 381px;
    background-image: url(../../images/main/pexels-monstera-5957128.jpg);
    background-position: center -350px;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading > h1 {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    color: white;
    font-size: 90px;
    background-color: rgba(0, 0, 0, 0.6)
}


/* Main */

main {
    padding: 56px 0;
}

main > h2 {
    font-size: 40px;
    font-family: "Avenir_Heavy";
    padding: 0 0 10px 0;
}

.list_sub {
    display: flex;
    gap: 58px;
}

#Sub1, #Sub2, #Sub3 {
    display: none;
}

#Sub1_label, #Sub2_label, #Sub3_label {
    display: flex;
    width: 40px;
    height: 40px;
    border: 3px solid #8CA285;
    border-radius: 50%;
    cursor: pointer;
}

#Sub1:checked + #Sub1_label, #Sub2:checked + #Sub2_label, #Sub3:checked + #Sub3_label {
    background-color: #8CA285;
}

.Sub1_block, .Sub2_block, .Sub3_block {
    width: 485px;
    border: 1px solid #8CA285;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
}

.Sub1_block > h2, .Sub2_block > h2, .Sub3_block > h2 {
    display: flex;
    justify-content: center;
    padding: 31px 0 0 0;
    font-size: 40px;
    font-family: "Avenir_Heavy";
    color: #8CA285;
}

.Sub1_block > div, .Sub2_block > div, .Sub3_block > div {
    padding: 103px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Sub1_block > div > li, .Sub2_block > div > li, .Sub3_block > div > li {
    list-style-type: none;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

.Sub1_block > div > li::before, .Sub2_block > div > li::before, .Sub3_block > div > li::before {
    content: "\2022";
    color: #8CA285;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    width: 1em;
}

.Sub1_block > h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Avenir_Heavy';
    color: #8CA285;
    padding: 126px 0 0 0;
}

.Sub2_block > h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Avenir_Heavy';
    color: #8CA285;
    padding: 66px 0 0 0;
}

.Sub3_block > h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Avenir_Heavy';
    color: #8CA285;
    padding: 46px 0 0 0;
}

.Sub1_block > p, .Sub2_block > p, .Sub3_block > p {
    text-align: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding: 26px 0 0 0;
}


/* Font Family */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@font-face {
    font-family: "Avenir_Heavy";
    src: url(../main/Font/Avenir-Heavy.ttf);
}