/* Heading */

.heading {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    height: 411px;
    background-image: url(../../images/ConnexionRegisterPage/image-fond-page-connexion.jpg);
    background-size: cover;
    background-position: center -250px;
    color: white;
}

.heading > p {
    font-family: "Avenir_Medium";
    font-size: 20px;
}

.heading > img {
    height: 115px;
}

.heading > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.heading > div > p {
    font-family: "Avenir_Medium";
    font-size: 22px;
}

.heading_categories {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 790px;
    flex-wrap: wrap;
}

.heading_categories > button {
    display: flex;
    align-items: center;
    height: 40px;
    border: none;
    border-radius: 50px;
    padding: 8px 28px;
    background-color: #8CA285;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.more_article {
    width: 526px;
    height: 94px;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.more_article > p {
    font-size: 28px;
    font-family: "Avenir_Heavy";
}


/* Main */

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 88px;
    padding: 88px 0;
}

main > h2 {
    font-family: "Avenir_Heavy";
    font-size: 50px;
}

.transport_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding-top: 30px;
    height: 661px;
    width: 100vw;
    background-image: url("../../images/main/kit-suman--vxhOD5_Aeo-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.transport_block > h1 {
    color: white;
    font-size: 50px;
    font-family: "Avenir_Heavy";
    width: 1600px;
}

.transport_block_list {
    width: 89%;
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}

.transport_block_article {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 296px;
    height: 153px;
    border-radius: 20px;
}

.transport_block_article > p {
    font-family: "Avenir_Medium";
    font-size: 20px;
    text-align: center;
}


/* Animations */

.more_article_text {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.more_article:hover {
    background-color: black;
}

.more_article:hover > p {
    color: white;
    position: relative;
    top: 0;
    animation-name : TextAnimation;
    animation-duration : 0.4s;
    animation-fill-mode: both;
    animation-direction: alternate;
}

.more_article:not(:hover) > p {
    color: black;
    position: relative;
    top: 0;
    animation-name : TextAnimationReverse;
    animation-duration : 0.4s;
    animation-fill-mode: both;
    animation-direction: alternate;
}

.more_article:hover > i {
    position: relative;
    top: 0;
    animation-name : ArrowAnimation;
    animation-duration : 0.4s;
    animation-fill-mode: both;
    animation-direction: alternate;
}

.more_article:not(:hover) > i {
    position: relative;
    top: 40px;
    animation-name : ArrowAnimationReverse;
    animation-duration : 0.4s;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes ArrowAnimation {
    from {
        top: 0;
    } to {
        top: 50px;
    }
}

@keyframes ArrowAnimationReverse {
    from {
        top: 50px;
    } to {
        top: 0;
    }
}

@keyframes TextAnimation {
    from {
        top: 0;
    } to {
        top: 10px;
    }
}

@keyframes TextAnimationReverse {
    from {
        top: 10px;
    } to {
        top: 0;
    }
}

/* Font family */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@font-face {
    font-family: "Avenir_Light";
    src: url(../main/Font/Avenir-Light.ttf);
}

@font-face {
    font-family: "Avenir_Medium";
    src: url(../main/Font/Avenir-Medium.ttf);
}

@font-face {
    font-family: "Avenir_Heavy";
    src: url(../main/Font/Avenir-Heavy.ttf);
}