{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="assets/css/main/home.css">
{% endblock %}

{% block main %}
    <main class="main">
        <h1>Home Page</h1>
        <img src="assets/images/ConnexionPage/hide.png" alt="hide">
        <button><a href="/logout">logout</a></button>
    </main>
{% endblock %}