{% block css %}
    <link rel="stylesheet" href="assets/css/main/login.css">
{% endblock %}

{% block script %}
    <script src="https://kit.fontawesome.com/2fc22ca3fa.js" crossorigin="anonymous"></script>
{% endblock %}



{% block main %}
    <div class="background_image"></div>

    <div class="content">
        <div class="title">
            <img src="assets/images/ConnexionPage/" alt="logo Freew'up"></img>
            <h1>freew'up</h1>
        </div>

        <div class="connexion_block">
            <form action="" method="POST">
                <input type="texte" name="email" placeholder="Nom d'utilisateur / Email">
                <input type="password" name="password" placeholder="Mot de passe"> {# Ajouter bouton pour afficher le mot de passe et le cacher (JS) #}
                <input type="submit">
            </form>
            <a href="">Mot de passe oublié ?</a>
            <div class="connexion_block_memory_me">
                <label class="container">
                    <input type="checkbox">
                    <span class="login_checkbox"></span>
                </label>
                <p>Se souvenir de moi</p>
            </div>
            <div></div> {# trait de séparation #}
            <p>OU</p>
            <button><i class="fa-brands fa-google"></i>Se connecter avec Google </button>
            <button><i class="fa-brands fa-apple"></i>Se connecter avec Apple </button>
        </div>
    </div>
{% endblock %}