{% extends 'register_login/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="assets/css/main/login.css">
{% endblock %}

{% block script %}
    <script src="https://kit.fontawesome.com/2fc22ca3fa.js" crossorigin="anonymous"></script>
    <script src="assets/JavaScript/main/login.js"></script>
{% endblock %}



{% block main %}
    <div class="background_image"></div>

    <div class="content">
        <img src="assets/images/ConnexionPage/logo-freewup-white.png" alt="logo Freew'up"></img>

        <div class="connexion_block">
            <form action="" method="POST">
                <div class="connexion_block_input">
                    <input type="text" name="email" placeholder="Nom d'utilisateur / Email">
                    <input type="password" name="password" placeholder="Mot de passe" id="input_password"> {# Ajouter bouton pour afficher le mot de passe et le cacher (JS) #}
                    <div class="hide_show_password"></div>
                </div>
                <a href="">Mot de passe oublié ?</a>
                <div class="connexion_block_memory_me">
                    <label class="container">
                        <input type="checkbox">
                        <span class="login_checkbox"></span>
                    </label>
                    <p>Se souvenir de moi</p>
                </div>
                <div class="connexion_block_separation"></div>
                <p>OU</p>
                <div class="connexion_block_buttons">
                    <button><i class="fa-brands fa-google fa-xl"></i>Se connecter avec Google </button>
                    <button><i class="fa-brands fa-apple fa-2xl"></i>Se connecter avec Apple </button>
                </div>
                <input type="submit" value="Connexion">
            </form>
        </div>

        <div class="register_block">
            <p>Vous n'avez pas de compte ?</p>
            <a href="/register"><button>Inscription</button></a>
        </div>
    </div>
{% endblock %}