{% extends 'register_login/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="assets/css/register_login/register.css">
{% endblock %}

{% block script %}
    <script src="https://kit.fontawesome.com/2fc22ca3fa.js" crossorigin="anonymous"></script>
    <script src="assets/JavaScript/register_login/register.js"></script>
{% endblock %}



{% block main %}
    <div class="background_image"></div>

    <div class="content">
        <img src="assets/images/ConnexionRegisterPage/logo-freewup-white.png" alt="logo Freew'up"></img>

        <div class="register_block">
            <a href="/login"><i class="fa-solid fa-chevron-left"></i>Retour</a>
            <h3>Inscription</h3>
            <div>
                <form action="" method="POST">
                    <div class="form_input">
                        <input type="text" name="firstname" placeholder="Prénom">
                        <input type="text" name="lastname" placeholder="Nom">
                        <input type="text" name="email" placeholder="Adresse email*">
                        <input type="text" name="email_verif" placeholder="Confirmation de l'adresse email*">
                        <input type="password" name="password" placeholder="Mot de passe*" id="input_password">
                        <input type="password" name="password_verif" placeholder="Confirmation du mot de passe*" id="input_password_verif">
                        <input type="text" name="phone_number" placeholder="Numéro de téléphone">
                        <input type="text" name="date_of_birth" placeholder="Date de naissance">
                        <div class="hide_show_password"></div>
                        <div class="hide_show_password_verif"></div>
                        <p>*mentions obligatoires</p>
                    </div>
                    <div class="register_block_separator"></div>
                    <div class="register_block_right">
                        <p>OU</p>
                        <button class="button_google" disabled><i class="fa-brands fa-google fa-xl"></i>S'inscrire avec Google </button>
                        <button class="button_apple" disabled><i class="fa-brands fa-apple fa-2xl"></i>S'inscrire avec Apple </button>
                        <label class="container">
                            <input type="checkbox">
                            <span class="register_checkbox"></span>
                        </label>
                        <p>J'accepte les conditions générales d'utilisation</p>
                        <input type="submit" value="Inscription">
                        <p>En vous inscrivant, vous acceptez les Conditions Générales d’Utilisation</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}