{% extends 'main/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/main/article.css">
{% endblock %}

{% block main %}

    <main>
        <div class="user">
            
        </div>
    </main>

{% endblock %}