<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/main/header_footer.css">
    <script src="https://kit.fontawesome.com/2fc22ca3fa.js" crossorigin="anonymous"></script>
    <script src="assets/JavaScript/main/header_footer.js"></script>
    {% block css %}{% endblock %}
    {% block script %}{% endblock %}
    <title>Freew'up</title>
</head>
<body>
    <header>
        <div class="header_left">
            <a href="/"><img src="assets/images/main/logo-freewup-black.png" alt="logo Freew'up"></img></a>
            <div class="header_separator"></div>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li>Auteur</li>
                    <li>Blog</li>
                </ul>
            </nav>
        </div>
        <div class="header_right">
            <input placeholder="Rechercher">
            <div class="header_separator"></div>
            <div class="header_right_actions">
                <div id="add_post"><i class="fa-regular fa-plus fa-2xl"></i></div>
                <div id="heart"><i class="fa-regular fa-heart fa-2xl"></i></div>
                <div id="private_message"><i class="fa-regular fa-message fa-2xl"></i></div>
                <div id="profile"></div>
            </div>
        </div>
    </header>
    <div class="user_panel" style="display: none;">
        <div>
            <i class="fa-regular fa-user"></i>
            <a href="">Profil</a>
        </div>
        <div>
            <i class="fa-solid fa-gear"></i>
            <a href="">Paramètres</a>
        </div>
        <div>
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <a href="/logout">Déconnexion</a>
        </div>
    </div>
    {% block main %}{% endblock %}
    <footer>
        <div class="footer-top">

            <div class="left">
                <div class="logo"><img src="assets/images/ConnexionRegisterPage/logo-freewup-white.png" alt="logo Freew'up" height="70px"></div>
                <div class="socials-medias">
                    <img src="assets/images/socials-networks/instagram.png" height="54px"/>
                    <img src="assets/images/socials-networks/linkedin.png" height="54px"/>
                    <img src="assets/images/socials-networks/twitter.png" height="54px"/>
                </div>
            </div>

            <div class="middle">
                <div class="content-left">
                    <a href="">Accueil</a>
                    <a href="">Page Auteur</a>
                    <a href="">Blog</a>
                    <a href="">Mon Profil</a>
                </div>
                <div class="bar"></div>
                <div class="content-middle">
                    <a href="">Informations</a>
                    <a href="">C.G. d’utilisation</a>
                    <a href="">C.G. de confidentialité</a>
                    <a href="">Marketing solutions</a>
                </div>
                <div class="bar"></div>
                <div class="content-right">
                    <a href="">Préférences publicitaires</a>
                    <a href="">Centre de sécurité</a>
                    <a href="">Directives de la communauté</a>
                    <a href="">Directives relatives au Copyright</a>
                </div>
            </div>

            <div class="right">
                <a href="">Des questions ? Contactez-nous :</a>
                <div class="number"><img src="assets/images/footer/phone.png" height="25px"><a href="">&nbsp; 01.23.45.67.89</a></div>
                <div class="email"><img src="assets/images/footer/letter.png" height="25px"><a href="">&nbsp; support@freewup.fr</a></div>
            </div>

        </div>
        <div class="footer-down">
            <p>&copy; Freew’up Corporation, 2022 - Tous droits réservés</p>
        </div>
    </footer>
</body>
</html>