<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/main/header_footer.css">
    <script src="https://kit.fontawesome.com/2fc22ca3fa.js" crossorigin="anonymous"></script>
    <script src="/assets/JavaScript/main/header_footer.js"></script>
    {% block css %}{% endblock %}
    {% block script %}{% endblock %}
    <title>Freew'up</title>
</head>
<body>
    <header>
        <div class="header_left">
            <a href="/"><img src="/assets/images/main/logo-freewup-black.png" alt="logo Freew'up"></a>
            <div class="header_separator"></div>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="">Auteur</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </nav>
        </div>
        <div class="header_right">
            <input placeholder="Rechercher">
            <div class="header_separator"></div>
            <div class="header_right_actions">
                <div id="add_post"><i class="fa-regular fa-plus fa-2xl"></i></div>
                <div id="heart"><i class="fa-regular fa-heart fa-2xl"></i></div>
                <div id="private_message"><i class="fa-regular fa-message fa-2xl"></i></div>
                <div id="profile"></div>
            </div>
        </div>
    </header>
    <div class="user_panel" style="display: none;">
        <div>
            <i class="fa-regular fa-user"></i>
            <a href="">Profil</a>
        </div>
        <div>
            <i class="fa-solid fa-gear"></i>
            <a href="">Paramètres</a>
        </div>
        <div>
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <a href="/logout">Déconnexion</a>
        </div>
    </div>
    {% block main %}{% endblock %}
    <footer>
        <div class="footer_top">
            <div class="footer_top_media">
                <img src="/assets/images/main/logo-freewup-white.png" alt="logo_freewup">
                <div class="footer_top_media_social">
                    <img src="/assets/images/main/logo-twitter.png" alt="logo_twitter">
                    <img src="/assets/images/main/logo-linkedin.png" alt="logo_linkedin">
                    <img src="/assets/images/main/logo-instagram.png" alt="logo_instagram">
                </div>
            </div>
            <div class="footer_top_link">
                <div class="footer_top_link_block">
                    <a href="/">Accueil</a>
                    <a href="">Page Auteur</a>
                    <a href="">Blog</a>
                    <a href="">Mon Profil</a>
                </div>
                <div class="footer_top_link_separator"></div>
                <div class="footer_top_link_block">
                    <a href="">Informations</a>
                    <a href="">C.G. d’utilisation</a>
                    <a href="">C.G. de confidentialité</a>
                    <a href="">Marketing solutions</a>
                </div>
                <div class="footer_top_link_separator"></div>
                <div class="footer_top_link_block">
                    <a href="">Préférences publicitaires</a>
                    <a href="">Centre de sécurité</a>
                    <a href="">Directives de la communauté</a>
                    <a href="">Directives relatives au Copyright</a>
                </div>
            </div>
            <div class="footer_top_info">
                <p>Des questions ? Contactez-nous :</p>
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <p>01.23.45.67.89</p>
                </div>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <p>support@freewup.fr</p>
                </div>
                <div class="footer_top_info_langue">
                    <p>Langue :</p>
                    <div class="footer_top_info_langue_separator"></div>
                    <select name="language">
                    <option value="fr">Français</option>
                    <option value="en">English</option>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <p>&copy; Freew’up Corporation, 2022 - Tous droits réservés</p>
        </div>
    </footer>
</body>
</html>