{% extends 'main/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="assets/css/main/home.css">
{% endblock %}

{% block main %}
    <div class="heading">
        <img src="assets/images/main/logo-freewup-white.png" alt="logo_freewup">
        <div>
            <p>Catégories recommandées :</p>
            <div class="heading_categories">
                <button>Sport</button>
                <button>Économie</button>
                <button>Musique</button>
                <button>Cuisine</button>
                <button>Éducation</button>
                <button>Médecine</button>
                <button>Politique</button>
                <button>Business</button>
                <button>Webdesign</button>
            </div>
        </div>
    </div>

    <main>
        <h2>Economie :</h2>
        {{ economie.0.title }}
        <br>
        <br>
        <h2>Transport :</h2>
        {{ transport.0.title }}
        <br>
        <br>
        <h2>Politique :</h2>
        {{ politique.0.title }}
    </main>
{% endblock %}