{% extends 'main/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/main/subscription.css">
{% endblock %}

{% block script %}
    <script src="/assets/JavaScript/main/subscription.js"></script>
{% endblock %}

{% block main %}
    <div class="heading">
        <h1>Abonnements</h1>
    </div>
    <main>
        <h2 id="title_sub">Sélectionner votre abonnement :</h2>
        <div class="list_sub">
            <label label="Sub1" class="Sub1_block">
                <input type="radio" name="Sub" id="Sub1">
                <label for="Sub1" id="Sub1_label"></label>
                <h2>Abonnement student</h2>
                <div>
                    <li>Filtres de recherche permet de voir qui consultent vos articles et votre profil.</li>
                    <li>Un accès à 150 web conférence.</li>
                    <li>La possibilité d’envoyer 50 messages par mois.</li>
                </div>
                <h1>9,99€</h1>
                <p>30% des revenus de l’abonnement contribueront à une association de votre choix</p>
            </label>
            <label label="Sub2" class="Sub2_block">
                <input type="radio" name="Sub" id="Sub2">
                <label for="Sub2" id="Sub2_label"></label>
                <h2>Abonnement lite</h2>
                <div>
                    <li>Plus précis dans les recherches et voir qui consultent vos articles et votre profil</li>
                    <li>Possibilité d’envoyer 50 messages par mois</li>
                    <li>Recommandations quotidiennement de profil selon pôle d’activité</li>
                    <li>Suivi de performances sur les articles</li>
                </div>
                <h1>16,99€</h1>
                <p>30% des revenus de l’abonnement contribueront à une association de votre choix</p>
            </label>
            <label for="Sub3" class="Sub3_block">
                <input type="radio" name="Sub" id="Sub3">
                <label for="Sub3" id="Sub3_label"></label>
                <h2>Abonnement advanced</h2>
                <div>
                    <li>Permettre d’être mieux référencé</li>
                    <li>Plus précis dans les recherches et voir qui consultent vos articles et votre profil</li>
                    <li>Possibilité d’envoyer 100 messages par mois</li>
                    <li>Accès à 500 web conference</li>
                    <li>Recommendations d’autant plus personnalisé.</li>
                </div>
                <h1>29,99€</h1>
                <p>30% des revenus de l’abonnement contribueront à une association de votre choix</p>
            </label>
        </div>
        <h2 id="title_assoc">Sélectionner une ou plusieurs associations :</h2>
        <p>Parmi les 30%, choisissez de reverser à une ou plusieurs associations présenté ci-dessous :</p>
        <div class="list_assoc">
            <label class="block_assoc1">
                <input type="checkbox" name="Assoc1" id="Assoc1">
                <label for="Assoc1" id="Assoc1_label"></label>
                <img src="/assets/images/main/5a0c731b9642de34b6b65cee.png">
            </label>
            <label class="block_assoc2">
                <input type="checkbox" name="Assoc2" id="Assoc2">
                <label for="Assoc2" id="Assoc2_label"></label>
                <img src="/assets/images/main/1200px-UNICEF_Logo.png">
            </label>
            <label class="block_assoc3">
                <input type="checkbox" name="Assoc3" id="Assoc3">
                <label for="Assoc3" id="Assoc3_label"></label>
                <img src="/assets/images/main/Logo_Action_contre_la_faim.svg.png">
            </label>
            <label class="block_assoc4">
                <input type="checkbox" name="Assoc4" id="Assoc4">
                <label for="Assoc4" id="Assoc4_label"></label>
                <img src="/assets/images/main/Secours_populaire_logo.svg.png">
            </label>
            <label class="block_assoc5">
                <input type="checkbox" name="Assoc5" id="Assoc5">
                <label for="Assoc5" id="Assoc5_label"></label>
                <img src="/assets/images/main/1200px-Logo_Sidaction.svg.png">
            </label>
            <label class="block_assoc6">
                <input type="checkbox" name="Assoc6" id="Assoc6">
                <label for="Assoc6" id="Assoc6_label"></label>
                <img src="/assets/images/main/logo_vertical_re_couleur.png">
            </label>
            <label class="block_assoc7">
                <input type="checkbox" name="Assoc7" id="Assoc7">
                <label for="Assoc7" id="Assoc7_label"></label>
                <img src="/assets/images/main/Amnesty_International-Logo.wine.png">
            </label>
            <label class="block_assoc8">
                <input type="checkbox" name="Assoc8" id="Assoc8">
                <label for="Assoc8" id="Assoc8_label"></label>
                <img src="/assets/images/main/Logo_Adie.png">
            </label>
        </div>
        <button>Valider</button>
    </main>
{% endblock %}